
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" id="pru">
      <img src="../../assets/img/league-of-legends.jpeg" class="d-block" style="height: 100%; width: 100%"  >
    </div>
    <div class="carousel-item" id="pra">
      <img src="../../assets/img/maxresdefault.jpg" class="d-block" style="height: 100%; width: 100%" >
    </div>
    <div class="carousel-item" id="pre">
      <img src="../../assets/img/maxresdefau.jpg" style="height: 100%; width: 100%" >
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

