.unoss{
    border: none;
    font-size: 2em;
    background-color: #6c757d;
    background:top, #6c757d, #404e5a9d;
    
    text-shadow: 3px 3px 3p #000000;
    box-shadow: 3px 5px 7px #000000;
    border-radius: 5px;
    width:300px ;
    height: 200px;
}

.modal-dialog.modal-800 {
    width: 800px;
    margin: 30px auto;
}