
<div class="container">
<div class="row">
    <div class="col-md-4 col-lg-2" >
        <button  class="unoss" class="btn btn-secondary btn-block zoom m-2">Acción</button>
        
    </div>
    <div class="col-md-4 col-lg-2">
        <button  class="unoss" class="btn btn-secondary btn-block zoom m-2">Aventura</button>
    </div>
    <div class="col-md-4 col-lg-2">
        <button  class="unoss" class="btn btn-secondary btn-block zoom m-2">Conducción</button>
    
    </div>
    <div class="row">
        
  </div>
  <div class = "container my-5">
    
    <div class = "row"> 
      <div class = "col-md-4 col-lg-2"> 
        <button  class="unoss" class="btn btn-secondary btn-block zoom m-2">Deportes</button>
      </div> 
      <div class = "col-md-4 col-lg-2"> 
        <button  class="unoss" class="btn btn-secondary btn-block zoom m-2">Estrategia</button>
      </div> 
      <div class = "col-md-4 col-lg-2"> 
        <button  class="unoss" class="btn btn-secondary btn-block zoom m-2">Aventura</button>
      </div> 
    </div> 
    
    <div class = "row"> 
  
      </div> 
      <div class = "container my-5"> 
    
        <div class = "row"> 
          <div class="col-sm-6"> 
            <button  class="unoss" class="btn btn-secondary btn-block zoom m-2">Disponibles</button>
          </div> 
          
        </div> 
        </div>
        <div class = "container my-5">
    
            <div class = "row"> 
              <div class="col-sm-6"> 
                <button  class="unoss" class="btn btn-secondary btn-block zoom m-2">Agostados</button>
              </div> 
              
            </div> 
            </div>
    
    
  </div>