<div class="container">
    <div class = "container my-5">
    <div class="row">
    <div class="col-md-4 col-lg-2" >
       <button  class="unoss" class="btn btn-secondary btn-block zoom m-2" data-toggle="modal" data-target="#myModal">Acción</button>
         <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
      </div>
      <div class="col-md-4 col-lg-2" >
          <button  class="unoss" class="btn btn-secondary btn-block zoom m-2" data-toggle="modal" data-target="#myModal">Aventura</button>
            <!-- Modal -->
     <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog">
         
           <!-- Modal content-->
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Modal Header</h4>
             </div>
             <div class="modal-body">
               <p>Some text in the modal.</p>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
           </div>
           
         </div>
       </div>
         </div>
         <div class="col-md-4 col-lg-2" >
            <button  class="unoss" class="btn btn-secondary btn-block zoom m-2" data-toggle="modal" data-target="#myModal">Conducción</button>
              <!-- Modal -->
       <div class="modal fade" id="myModal" role="dialog">
           <div class="modal-dialog">
           
             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Modal Header</h4>
               </div>
               <div class="modal-body">
                 <p>Some text in the modal.</p>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
             </div>
             
           </div>
         </div>
           </div>
    </div>
    </div>
    <div class = "container my-5">
        <div class="row">
        <div class="col-md-4 col-lg-2" >
           <button  class="unoss" class="btn btn-secondary btn-block zoom m-2" data-toggle="modal" data-target="#myModal">Desportes</button>
             <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
                <p>Some text in the modal.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
          </div>
          <div class="col-md-4 col-lg-2" >
              <button  class="unoss" class="btn btn-secondary btn-block zoom m-2" data-toggle="modal" data-target="#myModal">Aventura</button>
                <!-- Modal -->
         <div class="modal fade" id="myModal" role="dialog">
             <div class="modal-dialog">
             
               <!-- Modal content-->
               <div class="modal-content">
                 <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">Modal Header</h4>
                 </div>
                 <div class="modal-body">
                   <p>Some text in the modal.</p>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
               </div>
               
             </div>
           </div>
             </div>
             <div class="col-md-4 col-lg-2" >
                <button  class="unoss" class="btn btn-secondary btn-block zoom m-2" data-toggle="modal" data-target="#myModal">Estrategia</button>
                  <!-- Modal -->
           <div class="modal fade" id="myModal" role="dialog">
               <div class="modal-dialog">
               
                 <!-- Modal content-->
                 <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Modal Header</h4>
                   </div>
                   <div class="modal-body">
                     <p>Some text in the modal.</p>
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
                 </div>
                 
               </div>
             </div>
               </div>
        </div>
        </div>
       <div class = "container my-5">
          <div class = "row">
             <div class="col-sm-6"> 
                <button  class="unoss" class="btn btn-secondary btn-block zoom m-2" data-toggle="modal" data-target="#myModal">Disponibles</button>
                      <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
              </div>

          </div>
       </div>
       <div class = "container my-5">
          <div class = "row">
             <div class="col-sm-6"> 
                <button  class="unoss" class="btn btn-secondary btn-block zoom m-2" data-toggle="modal" data-target="#myModal">Agotados</button>
                      <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
              </div>

          </div>
       </div>
    </div>
   